body {
    padding: 0;
    margin: 0;
    background-color: #222;
    font-family: 'Verdana';
    color: whitesmoke;
    overflow: hidden; 
}

.username {
    font-size:10px;
    width: 100%;
    margin-bottom: 5px;
}
.der {
    text-align: right;
}
.contenedor {
    padding: 20px;
    background-color: #333;
    border-radius: 20px;
}
#pedirNombre {
    z-index: 100;
    text-align: center;
    h2 {
        margin-bottom: 40px;
    }
    input {
        width: 85%;
        margin-bottom: 10px;
    }
    button {
        position: relative;
        left: 105px;
    }
}
#chat {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 90%;
    height: 20vh;
    border: 1px solid whitesmoke;
    border-right: #333;
    border-radius: 20px;
    margin-bottom: 10px;
    overflow-y: scroll;
    scrollbar-color: lightseagreen #222;
    scrollbar-width: thin;
}
#chat::-webkit-scrollbar {
    display:none;
}
#controles {
    display: flex;
    justify-content: space-between;
}
input[type=text] {
    padding: 5px 15px;
    width: 60%;
    border:0;
    border-radius: 15px;
}
button {
    width: 25%;
    padding:5px;
    border:0;
    border-radius: 15px;
    background-color: whitesmoke;
    color:#333;
}
.msj {
    border-radius: 15px;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    max-width: 120px;
    margin-bottom:10px;
    overflow-wrap: break-word;
    background-color: lightseagreen;
}
.deTi {
    float: right;
}
.deEl {
    background-color: #222;
}
.nom_servidor {
    color: #fcf75e;
    text-align: center;
}
.msj_servidor {
    margin: 0 auto;    
    margin-bottom:10px;
    background-color: #fcf75e;
    color: #333;
}
#protector {
    background-color:black;
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    opacity:.4;
    z-index: 10;
}
.ocultar {
    display: none;
}
.centrar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -51%);
}
#cartas {
    display: flex;
    justify-content: center;
    align-items: end;
    flex-wrap: wrap;
    gap: 10px;
    img {
        max-width: 150px;
        width: 25%;
        transition: all .5s;
    }
    img:hover {
        cursor: pointer;
        transition: all .5s;
        filter: drop-shadow(0 0 5px white);
    }
}
main {
    width: 100%;
    height: 100vh;
    display: grid;
}
section {
    display: grid;
    grid-template-columns: auto 350px;
    grid-template-areas: "izq der";
    width: 100%;
    gap:10px;
    height: 50vh;
    width: 100%;
    & > div {
        margin: 25px;
        width: 80%;
    }
    h2 {
        text-align: center;
        margin: 10px;
        margin-bottom: 20px;
    }
}
#arriba {
    align-self: flex-start;
}
#abajo {
    align-self: flex-end;
}
#cont_mesa {
    grid-area:izq;
    align-self: flex-start;
    justify-self: center;
    width: calc(100% - 90px);
    height: calc(100% - 90px);
    #mesa{
        width: 100%;
        height: calc(100% - 60px);
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            max-height: 200px;
        }
    }
}
#cont_info {
    width:  calc(100% - 50px);
    height:  calc(100% - 50px);
    grid-area: izq;
    display: grid;
    grid-template-columns:  1fr 1fr;
    margin: 25px;
    gap: 10px;
}
#cont_triunfo {
    height: calc(100% - 90px);
    grid-area: der;
    text-align: center;
    align-self: flex-start;
    justify-self: right;
    img {
        height: 200px;
        margin: auto;
    }
}
#cont_puntos {
    width: 350px;
    height: 200px;
    align-self: flex-end;
    justify-self: center;
    text-align: center;
    #puntos {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100% - 70px);
        color: #fcf75e;
        font-size: 40px;
    }
}
#cont_cartas {
    align-self: flex-end;
    justify-self: center;
    text-align: center;
    max-width: 350px;
    height: 200px;
}
#cont_chat {
    grid-area:der;
    justify-self: right;
    align-self: flex-end;
    max-width: 350px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
